.marketing-container {
  text-align: center;
  margin-top: 100px;
}
.container-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: 0 4px 0 4px #00000000;
  margin-top: 70px;
}

.marketing-img:hover {
  background-color: #9999;
  border-radius: 10px;
  cursor: pointer;
}
.marketing-img:active {
  background-color: #999999;
  border-radius: 10px;
}

.rectangle {
  height: 5px;
  width: 100%;
  margin-top: 143px;
}
.rectangle-bottom {
  height: 5px;
  margin-top: 90px;
  width: 100%;
}

.rec:hover {
  background-color: #000000;
  border-radius: 10px;
  cursor: pointer;
}
.rec:active {
  background-color: #000000;
  border-radius: 10px;
}
.marketing-navigation {
  margin: 10px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #0057ff;
}
.marketing-text {
  width: 776px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #000000;
}
